<div class="">

<form (ngSubmit)="save(); editedPost = undefined" *ngIf="editedPost">
  <input [(ngModel)]="editTitle" name="title">
  <textarea [(ngModel)]="editBody" name="body"></textarea>
  <button>SAVE</button>
</form>
<div *ngFor="let post of posts" (click)="editedPost = post; editTitle = post.title; editBody = post.body">
  <p>{{ post.title }}</p>
  <p>{{ post.body }}</p>
  <!-- <button (click)="post.showForm = !post.showForm">edit</button> -->

</div>

</div>
<router-outlet></router-outlet>
